.App {
    display: flex;
    gap: 10px;
    margin: 0 20px;
}

.sidebar {
    width: 300px;
    height: 500px;
    border: 1px solid red;

}

.resizable-table {
    border: 1px solid black;
    height: 500px;
    overflow-x: scroll;
    flex: 1;
}


.resizable-column {
    position: relative;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    width: 2px;
    height: 100%;

    cursor: col-resize;
}
