.App {
    display: flex;
    gap: 10px;
    margin: 0 20px;
}

.sidebar {
    min-width: 300px;
    height: 515px;
    border: 1px solid red;

}

.wrapper {
    flex: 1;
    overflow-x: scroll;
}

.resizable-table {
    /*border: 1px solid black;*/
    height: 500px;
    min-width: 100%;
}


.resizable-column {
    position: relative;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    width: 2px;
    height: 100%;

    cursor: col-resize;
}
